/* Header */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 4px 10px var(--box-shadow-01);
}
.header.scrolled {
    position: fixed;
    background: var(--background-color-02);
    box-shadow: 0px 4px 10px var(--box-shadow-02);
    padding: 10px 30px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo img {
    width: 120px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.logo img:hover {
    transform: scale(1.1);
}
.header.scrolled .logo img{
    width: 60px;
    height: 40px;
}
/* Navegación */
.nav {
    display: flex;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li {
    margin: 0 15px;
}
.nav-list a {
    color: var(--bottom-color-01);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 500;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav-list a:hover {
    background: var(--bottom-background-color-01);
    color: var(--bottom-color-02);
    box-shadow: 0px 2px 10px var(--box-shadow-01);
}
.nav-list a.active {
    background: var(--bottom-background-color-01);
    color: var(--bottom-color-02);
    font-weight: bold;
    border-right: 3px solid var(--border-01);
    border-bottom: 3px solid var(--border-01);
}

/* Menú Responsive */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
}
.menu-toggle span {
    background: var(--background-color-01);
    height: 6px;
    width: 35px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(5px);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .nav {
        background-color: var(--background-color-03) !important;
        top: 135px !important;
        transition: background-color 0.5s ease-in-out, top 0.5s ease-in-out;
    }
    .header.scrolled .nav {
        background-color: var(--background-color-04) !important;
        top: 72px !important;
        transition: background-color 0.5s ease-in-out, top 0.5s ease-in-out;
    }
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 40%;
        
        z-index: 100;
        padding: 15px 0;
        text-align: center;
    }
    .nav.active {
        display: flex;
        animation: fadeIn 0.5s ease-in-out;
    }
    .nav.hidden {
        animation: fadeOut 0.5s ease-in-out;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav-list li {
        margin: 10px 0;
        padding: 3px;
    }
    .nav-list li a {
        display: block;
        width: 100%;
        padding: 12px 0;
        color: var(--color-01);
    }
    .menu-toggle {
        display: flex;
    }
    .menu-toggle span {
        background: var(--background-color-02);
    }
    .header.scrolled  .menu-toggle span {
        background: var(--background-color-01);
    }
}
